<!--HEADER-->
<%- include("partials/header.ejs") %>

<!--SINGLE POST PAGE-->

<!--Show the chosen post from the list-->
<h2> <%= locals.post %></h2>


<!--FOOTER-->
<%- include("partials/footer.ejs") %>